/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

strong {
  font-weight: 500;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  padding-top: 64px;
  background-color: #f9f9f9;
}
.top-border {
  background-color: #1470B8;
  height: 5px;
  width: 100%;
}
.top-border:before {
  background-color: #09D261;
  content: ' ';
  display: block;
  float: right;
  height: 5px;
  width: 25%;
}
.img-logo {
  height: 45px;
}
.sp-menu {
  border-radius: 25px;
  color: #fff !important;
  font-size: 10px !important;
  padding: 8px 20px 6px 20px !important;
  margin: 13px 0px;
  transition: all 300ms ease-in-out;
}
.sp-menu.menu-green {
  background-color: #09D261;
}
.sp-menu.menu-blue {
  background-color: #1470B8;
}
.sp-menu:hover {
  background-color: #F9A825;
}
.tab-dpd {
  column-count: 3;
}
.tab-dpd a.dropdown-item  {
  break-inside: avoid-column;
}

.headerMenu {
  cursor: pointer;
}
.headerMenu-items {
  position: relative;
  width: 20px;
  height: 14px;
}
.headerMenu-item {
  background: #09437C;
  height: 2px;
  width: 20px;
  position: absolute;
  -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-animation-duration: .45s;
  animation-duration: .45s;
  animation-direction: alternate;
  animation-fill-mode: forwards
}
.headerMenu-item-1 {
  top: 0;
}
.is-open .headerMenu-item-1 {
  -webkit-animation-name: menu1In;
  animation-name: menu1In;
}
.is-openOut .headerMenu-item-1 {
  -webkit-animation-name: menu1Out;
  animation-name: menu1Out;
}
.headerMenu-item-2 {
  top: 5px;
  -webkit-transition-duration: .15s;
  transition-duration: .15s
}
.is-open .headerMenu-item-2 {
  opacity: 0;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-delay: .1s;
  transition-delay: .1s
}
.headerMenu-item-3 {
  top: 10px
}
.is-open .headerMenu-item-3 {
  -webkit-animation-name: menu3In;
  animation-name: menu3In
}
.is-openOut .headerMenu-item-3 {
  -webkit-animation-name: menu3Out;
  animation-name: menu3Out
}

@-webkit-keyframes menu1In {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
    50% {
        -webkit-transform: translateY(5px) rotate(0);
        transform: translateY(5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg)
    }
}
@keyframes menu1In {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
    50% {
        -webkit-transform: translateY(5px) rotate(0);
        transform: translateY(5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg)
    }
}
@-webkit-keyframes menu1Out {
    0% {
        -webkit-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg)
    }
    50% {
        -webkit-transform: translateY(5px) rotate(0);
        transform: translateY(5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}
@keyframes menu1Out {
    0% {
        -webkit-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg)
    }
    50% {
        -webkit-transform: translateY(5px) rotate(0);
        transform: translateY(5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}
@-webkit-keyframes menu3In {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
    50% {
        -webkit-transform: translateY(-5px) rotate(0);
        transform: translateY(-5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg)
    }
}
@keyframes menu3In {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
    50% {
        -webkit-transform: translateY(-5px) rotate(0);
        transform: translateY(-5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg)
    }
}
@-webkit-keyframes menu3Out {
    0% {
        -webkit-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg)
    }
    50% {
        -webkit-transform: translateY(-5px) rotate(0);
        transform: translateY(-5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}
@keyframes menu3Out {
    0% {
        -webkit-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg)
    }
    50% {
        -webkit-transform: translateY(-5px) rotate(0);
        transform: translateY(-5px) rotate(0)
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}

.featured-item {
  position: relative;
  overflow: hidden;
}
.featured-item.feature-big {
  height: 496px;
}
.featured-item.feature-small {
  height: 248px;
}
.featured-item a img {
  transition: all 300ms ease;
}
.featured-item a:hover img {
  transform: scale(1.05);
}
.featured-item.feature-big a img {
  height: 496px;
  object-fit: cover;
}
.featured-item.feature-small a img {
  height: 248px;
  object-fit: cover;
}
.featured-item a:hover .head1,
.featured-item a:hover .head2 {
  color: #fff;
}
.featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.featured-meta {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 30px;
}
.featured-meta p {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 15px;
}
.featured-meta i {
  margin-right: 5px;
}
.featured-overlay-news {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
.ft-title {
  transition: all 300ms ease;
  font-weight: 500;
}
.head1 {
  font-size: 32px;
  line-height: 42px;
  color: #fff;
}
.head2 {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.ft-desc{
  color: #fff;
}
.head3 {
  font-size: 18px;
  line-height: 28px;
}
.ft-date, .ft-author {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 5px;
  color: #fff;
}
.ft-author {
  margin-left: 10px;
}
.featured-news {
  border-radius: 12px;
  margin-bottom: 30px;
}
.ipspi-search {
  background-color: #1470B8;
  padding: 20px 0;
}
.form-search {
  position: relative;
}
.form-search .form-control {
  border: none;
}
.search-large {
  border-radius: 25px;
  border: 0;
  height: 40px;
  padding: 0 20px;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  width: 100% !important;
  transition: all 300ms ease;
  font-weight: 300;
}
.search-large::placeholder {
  color: rgba(255,255,255,0.5);
}
select.search-large {
  height: 40px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:  none;
  background-image: url(../images/select.svg);
  background-repeat: no-repeat;
  background-position: 93% center;
}
.btn-search {
  position: absolute;
  right: 0;
  border-radius: 25px;
  height: 40px;
  padding: 0 35px;
  background-color: #fff;
  transition: all 300ms ease;
  color: #1470B8;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-search:hover {
  background-color: #F9A825;
}
.ipspi-info {
  background-image: url(../images/bg-pattern.jpg);
  background-size: cover;
  padding: 30px 0 0;
}
.info-wrap {
  text-align: center;
}
.info-title {
  background-color: #fff;
  border-radius: 25px;
  color: #09437D;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px 20px;
}
ul.info-list {
  padding: 0;
  margin: 30px 0;
  text-align: left;
  column-count: 2;
}
ul.info-list li {
  list-style: none;
  break-inside: avoid-column;
}
ul.info-list li a {
  display: block;
  color: #fff;
  font-weight: 300;
  padding: 10px 0;
  transition: all 300ms ease;
}
ul.info-list li a:hover,
ul.info-list li a:focus {
  color: #09D261;
  text-decoration: none;
}
ul.info-list li a i {
  margin-right: 5px;
}
.ipspi-latest-news {
  padding: 50px 0;
}
.heading {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}
.heading::before {
  content: ' ';
  position: absolute;
  border-bottom: 4px solid #09D261;
  width: 50%;
  text-align: center;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.heading-alt {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  margin-bottom: 30px;
}
.heading-alt::before {
  content: ' ';
  position: absolute;
  border-bottom: 4px solid #09D261;
  width: 40%;
  bottom: -10px;
}
.article-item, .article-item-detail {
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
}
.article-item-detail {
  padding: 30px; 
}
.article-item {
  padding: 15px; 
}
.article-item img {
  border-radius: 12px;
  transition: all 300ms ease;
  width: 100%;
}
.article-item img:hover {
  opacity: 0.8;
}
.article-meta {
  margin-top: 15px;
  color: #4a4a4a;
}
.article-meta-detail {
  margin-top: 0;
  color: #4a4a4a;
}
.ar-date, .ar-author {
  font-size: 12px;
  display: inline-block;
}
.ar-author {
  margin-left: 10px;
}
.article-meta i, .article-meta-detail i {
  margin-right: 5px;
}
.ar-title {
  margin-top: 5px;
  margin-bottom: 7px;
  transition: all 300ms ease;
  font-weight: 500;
}
.ar-title a {
  color: #4a4a4a;
  transition: all 300ms ease;
}
.ar-title a:hover,
.ar-title a:focus {
  text-decoration: none;
  color: #09D261;
}
.ar-desc {
  font-weight: 300;
}
.btn-blue {
  background-color: #1470B8;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-blue:hover {
  background-color: #F9A825;
  color: #fff;
}
.btn-green {
  background-color: #09D261;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-green:hover {
  background-color: #F9A825;
  color: #fff;
}
.btn-grey {
  background-color: #9B9B9B;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-grey:hover {
  background-color: #FABE00;
  color: #fff;
}
.btn-red {
  background-color: #D0021B;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 20px;
}
.btn-red:hover {
  background-color: #424242;
  color: #fff;
}
.btn-border {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-border:hover {
  background-color: #F9A825;
  border-color: #F9A825;
  color: #fff;
}
.head-wrap {
  background-image: url(../images/bg-pattern.jpg);
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}
.head-title {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  margin: 15px 0;
}
.head-title::before {
  content: ' ';
  position: absolute;
  border-bottom: 4px solid #09D261;
  width: 10%;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content {
  padding: 30px 0;
}
.content-wrapper {
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}
.content ul li,
.content ol li {
  padding: 5px 0;
}
.article-detail {
  margin: 30px 0;
}
.article-detail h1 {
  font-size: 36px;
  margin: 5px 0 15px 0;
  color: #4a4a4a;
}
.article-detail-img img {
  border-radius: 12px;
  margin-bottom: 15px;
  width: 100%;
}
.article-detail article {
  line-height: 1.8em;
}
.article-detail article p {
  margin-bottom: 15px;
}
.article-detail article img {
    max-width: 100%;
}
.widget-container {
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}
.widget-title {
  background: #033A71;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  letter-spacing: 1px;
}
.widget-wrap {
  padding: 15px;
}
ul.item-list {
  padding: 0 10px;
  margin: 0;
}
ul.item-list li {
  list-style: none;
}
ul.item-list li a {
  color: #4a4a4a;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #eee;
  transition: all 300ms ease;
}
ul.item-list li a:hover {
  background: #1470B8;
  text-decoration: none;
  color: #fff;
}
.latest-item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.latest-item:last-child {
  margin-bottom: 0;
}
.latest-item::after {
  display: block;
  clear: both;
  content: "";
}
.latest-item-img {
  float: left;
  margin-right: 10px;
}
.latest-item-img a img {
  width: 134px;
  height: 100px;
  border-radius: 8px;
  transition: all 300ms ease;
}
.latest-item-img a:hover img {
  opacity: 0.8;
}
.latest-item-meta .meta-date {
  color: #9B9B9B;
  font-size: 11px;
  margin-bottom: 3px;
}
.latest-item-meta .meta-title a {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
  transition: all 300ms ease;
}
.latest-item-meta .meta-title a:hover {
  color: #09D261;
  text-decoration: none;
}
.related-article {
  margin-top: 50px;
}
.related-list {
  margin-bottom: 30px;
  padding: 15px; 
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
  background: #fff;
}
.related-list a:hover {
  text-decoration: none;
}
.related-list a img {
  border-radius: 12px;
  margin-bottom: 10px;
  transition: all 300ms ease;
}
.related-list a:hover img {
  opacity: 0.8;
}
.related-list a .related-meta-date {
  font-size: 11px;
  color: #9b9b9b;
}
.related-list a .related-meta-title {
  font-size: 14px;
  font-weight: 500;
  color: #424242;
  transition: all 300ms ease;
}
.related-list a:hover .related-meta-title {
  color: #09D261;
}
.contact-info {
  color: #777;
  margin-bottom: 30px;
}
.contact-info td {
  padding: .75rem .75rem .75rem 0;
}
.maps {
  border-radius: 12px;
  margin-top: 15px;
  overflow: hidden;
}
.table-heading {
  color: #fff;
  margin-bottom: 0;
}
.table-heading tr {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.dpd-profile {
  height: 100%;
  display: flex;
  align-items: center;
}
.dpd-profile-image img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.dpd-profile-name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
}
.dpd-profile-name::before {
  content: ' ';
  position: absolute;
  border-bottom: 3px solid #09D261;
  width: 30%;
  text-align: center;
  bottom: -10px;
  left: 0;
}
.half-gutters {
  margin-right: -5px;
  margin-left: -5px;
}
.half-gutters > .col,
.half-gutters > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.jurnal-list {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.jurnal-list th {
  text-transform: uppercase;
}
.jurnal-list td,
.jurnal-list th {
  padding: 20px;
  font-size: 12px;
}
.jurnal-list thead {
  background-color: #033A71;
}
.jurnal-list thead tr th {
  color: #fff;
  font-weight: 500;
  border: none;
}
.jurnal-list-title a {
  font-size: 14px;
  font-weight: 500;
  color: #4A4A4A;
  transition: all 300ms ease;
}
.jurnal-list-title a:hover {
  text-decoration: none;
  color: #09D261;
}
.jurnal-list-desc {
  font-size: 12px;
  margin: 7px 0;
}
.jurnal-meta {
  margin-top: 15px;
}
.jurnal-meta span {
  display: block;
}
.jurnal-meta span:last-child {
  color: #9B9B9B;
}
.jurnal-avatar img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.line {
  border-color: #e7e7e7;
}
.forgot-txt {
  margin-top: 30px;
  font-size: 13px;
}
.forgot-txt a {
  color: #4a4a4a;
  text-decoration: underline;
  transition: all 300ms ease;
}
.forgot-txt a:hover {
  color: #09D261;
}
.step-wrap {
  position: relative;
}
.step-wrap:before {
  content: ' ';
  position: absolute;
  border-bottom: 4px solid #ddd;
  width: 90%;
  text-align: center;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.step-list {
  display: inline-block;
  width: 107px;
  vertical-align: top;
}
.step-list-item {
  width: 70px;
  height: 70px;
  background: #09437C;
  color: #fff;
  border-radius: 50%;
  line-height: 70px;
  font-size: 30px;
  font-weight: 500;
  margin: auto;
}
.step-list.active .step-list-item {
  background: #09D261;
}
.step-list-desc {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
}
.form-reg .form-group {
  margin-bottom: 1.5rem;
}
.form-reg select {
  height: 48px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:  none;
  background-image: url(../images/select-dark.svg);
  background-repeat: no-repeat;
  background-position: 93% center;
  color: #495057;
}
.addition-info {
  margin-top: 15px;
  font-size: 12px;
  color: #ff0000;
  font-style: italic;
}
.form-list {
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: auto auto 30px auto;
}
a.btn-txt {
  color: #424242;
  font-weight: 500;
  transition: all 300ms ease;
}
a:hover.btn-txt {
  color: #09D261;
  text-decoration: none;
}
.head-table {
  border-radius: 25px;
  background-color: #09437C;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}
.table-form {
  margin-top: 20px;
  font-size: 12px;
  border-bottom: 1px solid #dee2e6;
}
.table-form thead {
  background-color: #f7f7f7;
}
.table-form th {
  font-weight: 500;
}
.announcement-box {
  background-color: #1470B8;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 50px;
  color: #fff;
  box-shadow: 0px 10px 20px 0 rgba(0, 48, 95, 0.2);
  border: 1px solid #0c5d9c;
}
.announcement-box.sm {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 16px;
}


footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30px;
}
.footer-home {
  margin-top: 0 !important;
}
.top-footer {
  background: #1470B8;
  padding: 30px 0 15px 0;
  font-size: 12px;
  color: #fff;
}
.footer-logo {
  margin-bottom: 15px;
}
.footer-menu-title {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 15px 0;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
ul.footer-menu {
  padding: 0;
  margin: 0;
}
ul.footer-menu li {
  list-style: none;
  position: relative;
}
ul.footer-menu li a {
  color: #fff;
  display: block;
  padding: 7px 0;
  transition: all 300ms ease;
}
ul.footer-menu li a:hover {
  padding-left: 10px;
  text-decoration: none;
}
ul.footer-menu li a::before {
  content: ' ';
  position: absolute;
  top: 15px;
  left: 10px;
  width: 7px;
  height: 3px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
ul.footer-menu li a:hover::before {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.bottom-footer {
  background-color: #0c5d9c;
  padding: 10px 0;
}
ul.social-icon {
  margin: 0;
  padding: 0;
}
ul.social-icon li {
  display: inline-block;
  margin: 0 2px;
}
ul.social-icon li a {
  display: block;
  color: #fff;
  line-height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  transition: all 300ms ease;
}
ul.social-icon li a:hover,
ul.social-icon li a:focus {
  background-color: #fff;
  color: #09437C;
}
.footer-menu {
  padding: 5px 0;
}
.footer-menu span {
  margin-left: 10px;
}
.footer-menu span:first-child {
  margin-left: 0;
}
.footer-menu span a {
  font-size: 12px;
  color: #fff;
}
.copyright {
  padding: 7px 0;
  text-align: right;
  font-size: 12px;
  color: #fff;
}
/* ==========================================================================
   featured Slider
   ========================================================================== */
.feature-nav{
  display: block;
  background-image: url(../images/bg-pattern.jpg);
  background-size: cover;
  min-height: 496px;
}
.feature-item-nav{
  display: block;
  width: 100% !important;
  outline: 0;
  height: 350px;
}
.meta-nav{
  color: #fff;
  padding: 25px 45px 0 45px;
  cursor: pointer;
  min-height: 100px;
}
.meta-nav i{
  margin-right: 5px;
}
.ft-head{
  transition: all 300ms ease;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  color: rgba(255,255,255,0.7);
}
.ft-head:hover{
  color: rgba(255,255,255,0.7);
}
.number {
  display: block;
  margin-right: 15px;
  color: #fff;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  transition: all 300ms ease;
}
.number:hover {
  color: #1470B8;
  background: #fff;
}
.slick-list{
  height: auto !important;
}
.nav-current .number {
  color: #1470B8;
  background: #fff;
}
.nav-current .ft-head {
  color: rgba(255,255,255,1);
}
/* ==========================================================================
   Mitra Slider
   ========================================================================== */
.mitra{
  width: 97%;
  text-align: center;
  margin-bottom: 25px;
}
.mitra-item{
  height: 70px !important;
  margin: 0 15px;
}
.mitra img{
  max-width: 150px;
  max-height: 70px !important;
}
.slick-prev:before,
.slick-next:before
{
  color: #185089 !important;
}
.slick-prev {
  left: -10px !important;
  z-index: 99;
}
.slick-next {
  right: -20px !important;
}
/* ==========================================================================
   Accordion
   ========================================================================== */
.card-faq {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1470B8;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    margin-bottom: 30px;
    cursor: pointer;
}
.card-body-faq {
    padding: 25px;
    background: #fff;
    border-radius: 0;
}
.card-body-faq ul {
    padding: 0 15px;
}
.card-body-faq ul li {
    margin-bottom: 10px;
}
.ttl-faq{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.ttl-faq i{
    margin-right: 10px;
}
.ipspi-faq{
    padding: 50px 0;
}
/* ==========================================================================
   Loker
   ========================================================================== */
.latest-loker-img {
  float: left;
  margin-right: 10px;
}
.latest-loker-img a img {
  max-width: 134px;
  border-radius: 8px;
  transition: all 300ms ease;
  display: inline-block;
}
.latest-loker-img a:hover img {
  opacity: 0.8;
}
/* ==========================================================================
   Overide
   ========================================================================== */
.navbar {
  padding: 0;
}
.navbar-light {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}
.navbar-brand {
  padding-top: 7px;
  padding-bottom: 7px;
}
.dropdown-menu {
  padding: 10px;
  border-radius: 0;
  border: 0;
  background: #1470B8;
  border-bottom: 3px solid #09D261;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}
.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
li.nav-item {
  margin: 0 7px;
}
.dropdown-item {
  padding: 0.7rem 1rem;
  color: rgba(255,255,255,.9);
  font-size: 12px;
  transition: all 100ms ease-in-out;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #F9A825;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.form-control:focus {
    box-shadow: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
  margin-top: 15px;
}
li.page-link{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.25;
  color: #4A4A4A;
  background-color: #E7E7E7;
  border: none;
  border-radius: 25px;
  transition: all 300ms ease;
}
li.page-item.page-link a{
  color: #4A4A4A;
}
li.page-item.page-link.active a{
  color: #fff;
}
li.page-item.page-link a:hover{
  color: #4A4A4A;
  text-decoration: none;
}
li.page-link:hover {
  z-index: 2;
  color: #4A4A4A;
  text-decoration: none;
  background-color: #ccc;
  border-color: #ccc;
}
li.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: none;
}
li.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
li.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
li.page-item:last-child .page-link {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
li.page-link.active {
  z-index: 4;
  background-color: #09D261;
  border-color: #007bff;
}
li.page-item.page-link .active a{
  color: #fff !important;
}
li.page-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #eee;
  border-color: #dee2e6;
}
.form-group label {
  font-weight: 500;
}
.form-group label span {
  color: #ff0000;
  font-size: 12px;
  padding: 0 2px;
}
.form-control {
  padding: 0.7rem 1.5rem;
  border: 1px solid #ced4da;
  border-radius: 20px;
}
textarea.form-control {
  border-radius: 20px !important;
}
.form-control:focus {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #09D261;
  outline: 0;
  box-shadow: none;
}
.img-fluid {
  width: 100%;
}
.form-check-label {
  font-weight: 400 !important;
}
.custom-file-input {
  height: 40px;
}
.custom-file-label {
  height: 40px;
  border-radius: 25px;
  padding: 0.7rem 1.5rem;
  font-weight: 400 !important;
}
.custom-file-label::after {
  height: 38px;
  padding: .63rem 1.3rem;
  border-radius: 0 20px 20px 0;
}
.table-sm td, .table-sm th {
    padding: .5rem;
}
.icon-big {
  width: 75px;
  height: 75px;
  background-color: #09D261;
  border-radius: 50%;
  font-size: 36px;
  line-height: 75px;
  color: #fff;
  margin: auto auto 15px;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media (max-width: 1199px) {
  .step-list,
  .step-wrap:before {
    display: none;
  }
  .step-list.active {
    display: block !important;
    margin: auto;
  }
}

@media (max-width: 991.98px) {
  .copyright {
    text-align: left;
  }
  ul.social-icon {
    margin: 15px 0;
  }
  .head1 {
   font-size: 28px;
   line-height: 36px;
  }
  .head2 {
    font-size: 20px;
    line-height: 28px;
  }
  .navbar-collapse.collapse.show {
    height: 100vh !important;
    overflow: scroll;
    align-items: baseline;
    transition: all 200ms ease-in-out;
  }
  .navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
  li.nav-item {
    border-bottom: 1px solid #eee;
  }
  .tab-dpd {
    column-count: 1;
  }
  .dropdown-menu {
    padding: 0 0 10px 0;
    border-radius: 0;
    border: 0;
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .dropdown-item {
    padding: 0.7rem 0.7rem;
  }
  li.nav-item.sp-button {
    border-bottom: none;
  }
  .sp-menu {
    padding: 12px 20px 10px 20px !important;
    margin: 15px 0 0 0;
    text-align: center;
  }
  .dpd-profile {
    margin-bottom: 30px;
  }
  .ft-head{
    font-size: 15px;
  }
  .meta-nav{
    padding: 20px 30px;
    min-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .head1 {
    font-size: 22px;
    line-height: 28px;
  }
  .head2 {
    font-size: 16px;
    line-height: 20px;
  }
  .navbar {
    padding: 0 1rem;
  }
  .ft-desc {
    font-size: 12px;
  }
  .form.form-search .search-large {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    display: block;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    top: 150%;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  .nav-link {
    padding: 20px 1rem 18px 1rem;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
